<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Phenoseeker</title>
</head>
<body>
    <h1>About this Website</h1>
    <p>This website is hosted by:</p>
    <p>
        Institut de Biologie de l'École Normale Supérieure (IBENS) <br>
        46 rue d'Ulm F-75230 Paris cedex 05
    </p>
    <p>
        Author: Maxime Sanchez <br>
        Main contact: <a href="https://www.ibens.bio.ens.psl.eu/spip.php?article142&lang=fr">Auguste Genovesio</a>
    </p>
    <p>
        Hosting and maintenance: <a href="https://www.sysinfo.bio.ens.psl.eu/spip.php?rubrique8&lang=fr">IT department of IBENS</a>
    </p>
</body>
</html>
