<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Phenoseeker</title>
</head>
<body>
    <h1>Welcome to PhenoSeeker</h1>
    <p>This website allows you to test the method of the following publication : </p>
    <p><strong>Compound biological activity and scaffold diversity enrichment through cell phenotypic similarity</strong>  </p>
    <p><i>Maxime Sanchez, et al (to be define)</i></p>
    <ul>
        <li><a href="https://github.com/mxfly14/phenoseeker">GitHub Repository</a></li>
        <li><a href="/search">Search for Molecules Similar to your Positive Control</a></li>
        <li><a href="/about">About this Website</a></li>
    </ul>
    <h2>Acknowledgments</h2>
    <p>
        This website is powered by Python using the Flask framework for backend operations and HTML for frontend presentation.
    </p>    
</body>
</html>
