<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Phenoseeker</title>
</head>
<body>
    <h1>Welcome to PhenoSeeker</h1>
    <p>This website allows you to find and select molecules based on their phenotypes.</p>
    <ul>
        <li><a href="https://github.com/mxfly14/phenoseeker">GitHub Repository</a></li>
        <li><a href="/search">Search for Molecules Similar to your Positive Control</a></li>
        <li><a href="/about">About this Website</a></li>
    </ul>
</body>
</html>
